@model IEnumerable<WorkoutTracker2.Models.Workout>

@{
    ViewBag.Title = "KO Index";
}

<h2>Index</h2>
<button type="button" class="btn btn-primary">Create Workout</button>
@*<pre>
    <tbody >
</pre>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Workout Date
            </th>
            <th>
                Workout Length
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Workouts">
        <tr>
            <td data-bind="text: WorkoutDate"></td>
            <td data-bind="text: WorkoutLength"></td>
            <td data-bind="text: Location.Name"></td>
        </tr>
    </tbody>
    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }*@

</table>
@section Scripts {
    @Scripts.Render("~/Scripts/ViewModels/IndexKOVM.js")
}